body {
  margin: 0;
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 10%);
  height: 20%;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items li {
  padding: 1em;
}

.search {
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 200px;
  background-color: rgb(252, 253, 253);
  padding: 0.5em;
  margin: 0 0 0 10px;
}

.res-card:hover {
  border: 1px solid rgb(217, 225, 228);
}

.res-logo {
  height: 200px;
  width: 100%;
}

h4 {
  font-weight: normal;
  color: rgb(131, 129, 129);
  margin: 5px 0;
}
